<div class="createPostContainer">
    <h3 class="create-post-title">Create Post</h3>
    <div class="create-post-header">
        <img src="assets/perfil.jpg" alt="Foto do Usuário" class="create-post-user-photo">
        <div class="create-post-user-info">
            <p class="create-post-user-name">Jubscrei Ribeiro</p>
        </div>
    </div>
    <form class="create-post-form">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" class="form-input" placeholder="Write the post title">
        </div>
        <div class="form-group">
            <label for="post-image">Image</label>
            <input type="file" id="post-image" class="form-input">
        </div>
        <div class="form-group">
            <label for="post-category">Category</label>
            <select id="post-category" class="form-input">
                <option value="mma">MMA</option>
                <option value="muay-thai">Muay Thai</option>
                <option value="boxing">Boxing</option>
                <option value="jiu-jitsu">Jiu Jitsu</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea id="post-content" class="form-input" placeholder="Write the post content" rows="6"></textarea>
        </div>
        <div class="submitContainer">
            <button type="submit" class="submit-button">Create Post</button>
        </div>
    </form>
</div>


