<div class="headerContainer">
    <div class="navigate">
        <nav>
            <ul>
                <li>Home</li>
                <li>Posts</li>
                <li>News</li>
                <li>Create</li>
            </ul>
        </nav>
    </div>

    <div class="logo">
        <img class="logo" src="assets/logo.png" alt="Logo">
    </div>

    <div class="navigate">
        <nav>
            <ul>
                <li class="login">Login/Sing Up</li>
            </ul>
        </nav>
    </div>
</div>