<div class="headerContainer">
    <div class="navigate">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/posts">Posts</a></li>
                <li><a routerLink="/">News</a></li>
                <li><a routerLink="/createPosts">Create</a></li>
            </ul>
        </nav>
    </div>

    <div class="logo">
        <img class="logo" src="assets/logo.png" alt="Logo">
    </div>

    <div class="navigate">
        <nav>
            <ul>
                <li class="login"><a routerLink="/login">Login/Sing Up</a></li>
            </ul>
        </nav>
    </div>
</div>