.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    .logo {
        width: 10em;
    }

    .navigate {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        ul {
            display: flex;
            gap: 1em;
            list-style: none;

            .login {
                margin-right: 2em;
            }
        }
    }
}
