.homeContainer{
    margin: 3em 3em;
    gap: 5em;
    display: flex;
    animation: slideIn 1s ease-out forwards;

    .image, .text {
        opacity: 0;
        animation: slideIn 1s ease-out forwards;
        animation-delay: 0.2s; 
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        h1{
            font-size: 3.5em;
            color: #E01F28;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    
        h3{
            font-size: 1.7em;
            font-weight: 100;
        }

        p{
            text-align: center;
        }

        .buttons{
            display: flex;
            gap: 1em;
            transition: 0.4s;

            #discover{
                background-color: #BEBBBB;

                &:hover{
                    background-color: #948e8e;
                    cursor: pointer;
                }
            }

            #singup{
                background-color: #E01F28;

                &:hover{
                    background-color: #a7131b;
                    cursor: pointer;
                }
            }
        }
       
    }

    img{
        width: 45em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}