<app-header></app-header>

<div class="homeContainer">
    <div class="image">
        <img src="assets/photo1.jpg" alt="">
    </div>

    <div class="text">
        <h1>Your place is here </h1>
        <h3>Interact with other people about your <br> favorite martial arts and fighting events</h3>
        <div class="buttons">
            <button id="discover">Discover</button>
            <button id="singup">Sing Up</button>
        </div>
        <p>MMA, Boxing, Jiu-Jitsu, Muay Thai and so on! <br>
            Enjoy with others that like the fighting <br>
             spirit and the art of violence</p>
    </div>
</div>
